.glyphicon-refresh-animate {
    .animation(spin 1.0s infinite linear)
}

@keyframes spin {
    from { .rotate(0deg); }
    to { .rotate(360deg); }
}

.ajax-form {
    .btn[type=submit] {
        width: 70px;

        .glyphicon {
            display: none;
        }

        &._loading {
            .glyphicon {
                display: initial;
            }

            ._text {
                display: none;
            }
        }
    }
}

.salon-map {
    width: 600px;
    height: 400px;
}

.salon-balloon {
    border: none;
    margin-bottom: 0;

    ._image {
        width: 150px;
    }
}

.message-modal {
    .modal-header {
        border: none;
    }
}